<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="utils.ExtentReportClass"/>
<listener class-name="tests.ScreenShotListenerClass"/>
</listeners>
	<test name="Test">
		<classes>
			<class name="tests.RegisterToWebsiteTest" />
			<class name="tests.LoginWebsiteTest" />
			<class name="tests.ItemSelectTest" />
		</classes>
	</test>
</suite> 